body{
  text-align: center;
  background-color: rgb(245, 208, 108)
}

.cardPosts{
  display: inline-block;
  margin: 5px;
  padding: 2px;
  border-radius: 10%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
}

.postsHeader{
 color: rgba(139, 32, 32, 0.795);
}
.FinalPost{
  padding: 2px;
  border-radius: 10%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
}

#nav{
  background-color: rgba(241, 138, 138, 0.26);
  overflow:hidden;
} 

#gif{
  padding: 2px;
  border-radius: 10%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
}

#purpose{
  color: tomato;
  text-align: center;  
}

#nav a{  
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}