body{
  text-align: center;
  background-color: rgb(237, 224, 171)
}

.navbar{
  background-color: rgb(145, 39, 39);
  overflow:hidden;
}

#purpose{
  color: tomato
}

.navbar a{  
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}